
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
    int index = 1;


}
@model İkinciElAracİhale.UI.Models.VM.IhaleViewModel

@using (Html.BeginForm("_IhaleListeleme", "IhaleListeleme", FormMethod.Post))
{
    <div class="row">
        <h4 style="color:black;">Kriterler</h4>
        <div class="col-md-6 mb-6">
            <label for="ihaleAdi" class="form-label">İhale Adı</label>
            @Html.TextBoxFor(model => model.IhaleAdi, new { @class = "form-control", id = "ihaleAdi", placeholder = "İhale Adı" })
        </div>

        <div class="col-md-3 mb-3">
            @*<label for="aracTuru" class="form-label">Bireysel/Kurumsal</label>*@
            @*@Html.DropDownListFor(model => model.BireyselKurumsalID, Model.BireyselKurumsalList, "-- Seçiniz --", new { @class = "form-control", id = "aracTuru" })*@
        </div>

        <div class="col-md-3 mb-3">
            @*<label for="aracDurumu" class="form-label">Statüsü</label>*@
            @*@Html.DropDownListFor(model => model.IhaleStatuID, Model.IhaleStatuList, "Please select a status", new { @class = "form-control" })*@
        </div>
    </div>
    <div class="text-end">
        <a href="@Url.Action("_IhaleListeleme", "IhaleListeleme")" class="btn btn-warning" ml-2">Sıfırla</a>
        <input type="submit" value="Listele" class="btn btn-primary" />
    </div>
}
<br />
<table class="table">
    <h4 style="color:dimgrey;">İhale Listesi</h4>
    <thead>
        <tr>
            <th>İhale Numarası</th>
            <th>İhale Adı</th>
            <th>Bireysel/Kurumsal</th>
            <th>İhale Başlangıç</th>
            <th>İhale Bitiş</th>
            <th>Statü</th>
            <th>Aksiyon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IhaleListesis)
        {
            <tr>
                <th>@index</th>
                <th>@item.IhaleAdi</th>
                <th>@item.BireyselKurumsal.Durum</th>
                <th>@DateTime.Parse(item.IhaleBaslangicTarihi).ToString("dd/MM/yyyy")</th>
                <th>@DateTime.Parse(item.IhaleBitisTarihi).ToString("dd/MM/yyyy")</th>
                <th>@item.IhaleStatu.IhaleStatuAdi</th>
                <th>
                    @*<button class="btn btn-success me-2">Güncelle</button>*@
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#silmeModal" data-ihale-id="@item.IhaleID">Sil</a>
                </th>
                <th></th>
            </tr>
            index++;
        }
    </tbody>
</table>
<br />
<div class="row mt-12">
    <div class="col-md-12 d-flex justify-content-end">
        <a href="@Url.Action("_YeniİhaleOlustur")" class="btn btn-success me-2">Yeni Oluştur</a>
    </div>
</div>


<div class="modal fade" id="silmeModal" tabindex="-1" aria-labelledby="silmeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="silmeModalLabel">Silme Onayı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                İhaleyi silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                @using (Html.BeginForm("Sil", "IhaleListeleme", FormMethod.Post))
                {
                    @Html.Hidden("id", "", new { id = "hiddenIhaleId" })
                    <input type="submit" value="Evet" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('a[data-bs-toggle="modal"]').click(function () {
            var ihaleId = $(this).data("ihale-id");
            $("#hiddenIhaleId").val(ihaleId);
        });
    });
</script>
