@model İkinciElAracİhale.UI.Models.VM.AracDetayViewModel
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
}

@using (Html.BeginForm("AracDetayKaydet", "AdminPanel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">

        <h4>Araç Detay Bilgileri</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="kullaniciadi" class="form-label">Kullanıcı</label>
                @Html.DropDownListFor(model => model.Araclar.KullaniciID, Model.KullaniciList, "Seçiniz...", new { @class = "form-select", id = "kullaniciadi" })
            </div>
            <div class="col">
                <label for="bireysel-kurumsal" class="form-label">Bireysel/Kurumsal</label>
                @Html.DropDownListFor(model => model.Araclar.BireyselKurumsalID, Model.BireyselKurumsalList, "Seçiniz...", new { @class = "form-select", id = "bireysel-kurumsal" })
            </div>
            <div class="col">
                <label for="sirket-adi" class="form-label">Kurumsal Şirket Adı</label>
                @Html.TextBoxFor(model => model.Araclar.KurumsalSirketAdi, new { @class = "form-control", id = "kurumsalsirke" })
            </div>
            <div class="col">
                <label for="status" class="form-label">Statü</label>
                @Html.DropDownListFor(model => model.Araclar.StatuID, Model.StatuList, "Seçiniz...", new { @class = "form-select", id = "statu" })
            </div>

        </div>

        <br />

        <h4>Araç Detay Bilgileri</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="arac-markasi" class="form-label">Araç Markası</label>
                @Html.DropDownListFor(model => model.AracOzellik.AracMarkaID, Model.AracMarkaList, "Seçiniz...", new { @class = "form-select", id = "aracmarkasi" })
            </div>
            <div class="col">
                <label for="arac-modeli" class="form-label">Araç Modeli</label>
                @Html.DropDownListFor(model => model.AracOzellik.AracModelID, Model.AracModelList, "Seçiniz...", new { @class = "form-select", id = "aracmodeli" })
            </div>
            <div class="col">
                <label for="govde-tipi" class="form-label">Gövde Tipi</label>
                @Html.DropDownListFor(model => model.AracOzellik.GovdeTipiID, Model.GovdeTipiList, "Seçiniz...", new { @class = "form-select", id = "govdetipi" })
            </div>
            <div class="col">
                <label for="yil" class="form-label">Yıl</label>
                @Html.DropDownListFor(model => model.AracOzellik.YilID, Model.YilList, "Seçiniz...", new { @class = "form-select", id = "yil" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="yakit-tipi" class="form-label">Yakıt Tipi</label>
                @Html.DropDownListFor(model => model.AracOzellik.YakitTipiID, Model.YakitTipiList, "Seçiniz...", new { @class = "form-select", id = "yakit-tipi" })
            </div>
            <div class="col">
                <label for="vites-tipi" class="form-label">Vites Tipi</label>
                @Html.DropDownListFor(model => model.AracOzellik.VitesTipiID, Model.VitesTipiList, "Seçiniz...", new { @class = "form-select", id = "vites-tipi" })
            </div>
            <div class="col">
                <label for="arac-fiyati" class="form-label">Araç Fiyatı</label>
                @Html.TextBoxFor(model => model.Araclar.AracFiyati, new { @class = "form-control", id = "aracfiyati" })
            </div>
            <div class="col">
                <label for="km-bilgisi" class="form-label">KM Bilgisi</label>
                @Html.TextBoxFor(model => model.Araclar.KMBilgisi, new { @class = "form-control", id = "kmbilgisi" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="renk" class="form-label">Renk</label>
                @Html.DropDownListFor(model => model.AracOzellik.RenkID, Model.RenkList, "Seçiniz...", new { @class = "form-select", id = "renk" })
            </div>
            <div class="col-md-3">
                <label for="versiyon" class="form-label">Versiyon</label>
                @Html.TextBoxFor(model => model.AracOzellik.Versiyon, new { @class = "form-control", id = "versiyon" })
            </div>
            <div class="col">
                <label for="donanim" class="form-label">Donanım</label>
                @Html.TextBoxFor(model => model.Araclar.Donanim, new { @class = "form-control", id = "donanim" })
            </div>
        </div>
        <br />
        <h4>Foto Ekle</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="gorseller" class="form-label">Görseller</label>
                <input type="file" class="form-control" id="gorseller" name="Gorsel1" multiple>
            </div>
        </div>
        <div class="mb-3">
            <label for="aciklama" class="form-label">Açıklama <span id="charCount"></span></label>
            @Html.TextAreaFor(model => model.Araclar.Aciklama, new { @class = "form-control", id = "aciklama", rows = "3", maxlength = "250" })
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary me-2">Hemen Al Satış</button>
            <a href="@Url.Action("_KomisyonVeNoterUcretleri", "KomisyonVeNoter")" type="button" class="btn btn-outline-warning me-2">
                Komisyon
            </a>
            <a href="@Url.Action("_KullaniciTanimlama", "KullaniciTanimlama")" type="button" class="btn btn-outline-info me-2">
                Alıcı Bilgileri
            </a>
            <button type="button" class="btn btn-outline-warning me-2">Araç Tarihçe</button>
            <a href="@Url.Action("_TramerBilgileri")" type="button" class="btn btn-outline-success me-2">
                Hasar Tramer Bilgileri
            </a>
            <a href="@Url.Action("_İlanBilgileri")" type="button" class="btn btn-outline-info me-2">
                İlan Bilgileri
            </a>
            <button type="submit" class="btn btn-outline-primary">Diğer Sayfa</button>
        </div>

    </div>

}

<script>
    var textarea = document.getElementById("aciklama");
    var charCount = document.getElementById("charCount");

    textarea.addEventListener("input", function () {
        charCount.innerHTML = "(" + textarea.value.length + "/250)";
    });
</script>
