@model İkinciElAracİhale.UI.Models.VM.AracListelemeViewModel

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
    int index = 1;
}

@using (Html.BeginForm("FiltreliAracListele", "AdminPanel", FormMethod.Post, new { @class = "bg-white rounded p-3", id = "filtreForm" }))
{

    <div class="row">
        <h4 style="color:black;">Bul</h4>
        <div class="col-md-3 mb-3">
            <label for="aracMarka" class="form-label">Araç Markası</label>
            @Html.DropDownListFor(model => model.AracMarka, Model.AracMarkaList, "Seçiniz", new { @class = "form-control", id = "aracMarka" })
        </div>
        <div class="col-md-3 mb-3">
            <label for="aracModel" class="form-label">Modeli</label>
            @Html.DropDownListFor(model => model.AracModel, Model.AracModelList, "Seçiniz", new { @class = "form-control", id = "aracModel" })
        </div>
        <div class="col-md-3 mb-3">
            <label for="aracTuru" class="form-label">Bireysel/Kurumsal</label>
            @Html.DropDownListFor(model => model.BireyselKurumsal, Model.BireyselKurumsalList, "Seçiniz", new { @class = "form-control", id = "aracTuru" })
        </div>
        <div class="col-md-3 mb-3">
            <label for="aracDurumu" class="form-label">Statüsü</label>
            @Html.DropDownListFor(model => model.Statu, Model.StatuList, "Seçiniz", new { @class = "form-control", id = "aracStatu" })
        </div>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Listele</button>
        <button type="reset" onclick="resetFormAndSubmit()" class="btn btn-warning">Sıfırla</button>
    </div>

}
<br />
<table class="table">
    <h4 style="color:dimgrey;">Araç Listesi</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>Araç Markası</th>
            <th>Modeli</th>
            <th>Bireysel/Kurumsal</th>
            <th>Statüsü</th>
            <th>Kaydeden Kullanıcı</th>
            <th>Kaydetme Zamanı</th>
            <th>Aksiyon</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="araclarListesi">
        @foreach (var item in Model.AraclarList)
        {
            <tr>
                <td>@index</td>
                <td>@item.AracOzellik.AracMarka.MarkaAdi</td>
                <td>@item.AracOzellik.AracModel.ModelAdi</td>
                <td>@item.BireyselKurumsal.Durum</td>
                <td>@item.Statu.StatuAdi</td>
                <td>@item.Kullanici.KullaniciAdi</td>
                <td>@item.Tarih</td>
                <td>
                    <button class="btn btn-success me-2">Güncelle</button>
                    @Html.ActionLink("Sil", "AracSil", new { id = item.AracID }, new { @class = "btn btn-danger" })
                </td>
                <td></td>
            </tr>
            index++;
        }
    </tbody>
</table>
<br />
<div class="row mt-12">
    <div class="col-md-12 d-flex justify-content-end">
        <a href="@Url.Action("_AracDetayBilgisi")" class="btn btn-success me-2">Yeni Ekle</a>
        
    </div>
</div>

<script>
    function resetFormAndSubmit() {
        // Formu sıfırla
        var form = document.getElementById('filtreForm');
        form.reset();

        // DropDownListFor varsayılan değerleri seçmek için
        var selects = form.getElementsByTagName('select');
        for (var i = 0; i < selects.length; i++) {
            selects[i].selectedIndex = 0;
        }

        // Tablodaki filtrelenmiş araç listesini temizle
        var tbody = document.getElementById('araclarListesi');
        var rows = tbody.getElementsByTagName('tr');
        while (rows.length > 0) {
            tbody.removeChild(rows[0]);
        }

        // Form submit işlemini gerçekleştir
        form.submit();
    }
</script>