@model List<İkinciElAracİhale.UI.Models.Kullanici>

@{
    ViewBag.Title = "_KullaniciTanimlama";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
    int index = 1;
}

<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kullanıcı Adı</th>
                <th scope="col">Ad Soyad</th>
                <th scope="col">Telefon</th>
                <th scope="col">E-posta</th>
                <th scope="col">Durum</th>
                <th scope="col">Kullanıcı Türü</th>
                <th scope="col">Rol</th>
                <th scope="col">Aksiyon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kullanici in Model)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@kullanici.KullaniciAdi</td>
                    <td>@kullanici.Ad</td>
                    <td>@kullanici.Telefon</td>
                    <td>@kullanici.Mail</td>
                    <td>@(kullanici.AktifPasifID == 1 ? "Aktif" : "Pasif")</td>
                    <td>@(kullanici.BireyselKurumsalID == 1 ? "Bireysel" : "Kurumsal")</td>
                    <td>@(kullanici.RolID == 1 ? "Admin" : (kullanici.RolID == 2 ? "Kullanıcı" : "PlusAdmin"))</td>
                    <td>
                        @using (Html.BeginForm("DeleteKullanici", "KullaniciTanimlama", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("KullaniciID", kullanici.KullaniciID)
                            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("KullaniciDuzenle", "KullaniciTanimlama", new { KullaniciID = kullanici.KullaniciID })'">Düzenle</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal_@(@kullanici.KullaniciID)">Sil</button>
                        }
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
    <br />
    <div class="d-grid gap-2 mt-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kullaniciTurModal">Yeni Kullanıcı Ekle</button>

        <div class="modal fade" id="kullaniciTurModal" tabindex="-1" aria-labelledby="kullaniciTurModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="kullaniciTurModalLabel">Kullanıcı Türünü Seçiniz</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kullaniciTur" id="bireysel" value="bireysel" checked>
                            <label class="form-check-label" for="bireysel">
                                Bireysel
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kullaniciTur" id="kurumsal" value="kurumsal">
                            <label class="form-check-label" for="kurumsal">
                                Kurumsal
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary" onclick="openKullaniciEkleModal()">Devam Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@using (Html.BeginForm("KullaniciEkle", "KullaniciTanimlama", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="kullaniciEkleModal" tabindex="-1" aria-labelledby="kullaniciEkleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black;" id="kullaniciEkleModalLabel">Bireysel Kullanıcı Tanımlama</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="bireyselkurumsal" class="form-label">Kullanıcı Türü</label>
                            <select class="form-select" name="BireyselKurumsalID" id="bireyselkurumsal">
                                <option value="1">Bireysel</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="kullaniciAdi" class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="kullaniciAdi" name="KullaniciAdi" placeholder="Kullanıcı Adı">
                        </div>
                        <div class="mb-3">
                            <label for="adSoyad" class="form-label">Ad Soyad</label>
                            <input type="text" class="form-control" id="adSoyad" name="Ad" placeholder="Ad Soyad">
                        </div>
                        <div class="mb-3">
                            <label for="telefon" class="form-label">Telefon Bilgisi</label>
                            <input type="text" class="form-control" id="telefon" name="Telefon" placeholder="Telefon Numarası">
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Mail Bilgisi</label>
                            <input type="email" class="form-control" id="mail" name="Mail" placeholder="E-posta Adresi">
                        </div>
                        <div class="mb-3">
                            <label for="aktifpasif" class="form-label">Aktiflik Durumu</label>
                            <select class="form-select" name="AktifPasifID" id="aktifpasif">
                                <option value="" disabled selected>Aktiflik Durumu</option>
                                <option value="1">Aktif</option>
                                <option value="2">Pasif</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sifre" class="form-label">Şifre</label>
                            <input type="password" class="form-control" id="sifre" name="Sifre" placeholder="Şifre">
                        </div>
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rolü</label>
                            <select class="form-select" name="RolID" id="rol">
                                <option value="" disabled selected>Rol Seçiniz</option>
                                <option value="1">Admin</option>
                                <option value="2">Kullanıcı</option>
                                <option value="3">PlusAdmin</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kullanıcıyı Kaydet</button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("KullaniciEkle", "KullaniciTanimlama", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="kurumsalKullaniciEkleModal" tabindex="-1" aria-labelledby="kurumsalKullaniciEkleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black;" id="kurumsalKullaniciEkleModalLabel">Kurumsal Kullanıcı Tanımlama</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="bireyselkurumsal" class="form-label">Kullanıcı Türü</label>
                            <select class="form-select" name="BireyselKurumsalID" id="bireyselkurumsal">
                                <option value="2">Kurumsal</option>    
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="kullaniciAdi" class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="kullaniciAdi" name="KullaniciAdi" placeholder="Kullanıcı Adı">
                        </div>
                        <div class="mb-3">
                            <label for="adSoyad" class="form-label">Ad Soyad</label>
                            <input type="text" class="form-control" id="adSoyad" name="Ad" placeholder="Ad Soyad">
                        </div>
                        <div class="mb-3">
                            <label for="telefon" class="form-label">Telefon Bilgisi</label>
                            <input type="text" class="form-control" id="telefon" name="Telefon" placeholder="Telefon Numarası" pattern="^\+?\d{10,15}$" required>
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Mail Bilgisi</label>
                            <input type="email" class="form-control" id="mail" name="Mail" placeholder="E-posta Adresi">
                        </div>
                        <div class="mb-3">
                            <label for="aktifpasif" class="form-label">Aktiflik Durumu</label>
                            <select class="form-select" name="AktifPasifID" id="aktifpasif">
                                <option value="" disabled selected>Aktiflik Durumu</option>
                                <option value="1">Aktif</option>
                                <option value="2">Pasif</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sifre" class="form-label">Şifre</label>
                            <input type="password" class="form-control" id="sifre" name="Sifre" placeholder="Şifre">
                        </div>
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rolü</label>
                            <select class="form-select" name="RolID" id="rol">
                                <option value="" disabled selected>Rol Seçiniz</option>
                                <option value="1">Admin</option>
                                <option value="2">Kullanıcı</option>
                                <option value="3">PlusAdmin</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="il" class="form-label">İl</label>
                            <input type="text" class="form-control" id="il" name="KurumsalIl" placeholder="İl">
                        </div>
                        <div class="mb-3">
                            <label for="ilce" class="form-label">İlçe</label>
                            <input type="text" class="form-control" id="ilce" name="KurumsalIlce" placeholder="İlçe">
                        </div>
                        <div class="mb-3">
                            <label for="adres" class="form-label">Adres</label>
                            <textarea class="form-control" id="adres" name="KurumsalAdres" rows="3" placeholder="Adres"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="firmaAdi" class="form-label">Firma Adı</label>
                            <input type="text" class="form-control" id="firmaAdi" name="FirmaAdi" placeholder="Firma Adı">
                        </div>
                        <div class="mb-3">
                            <label for="firmaBilgisi" class="form-label">Firma Bilgisi</label>
                            <select class="form-select" name="FirmaBilgisiID" id="firmaBilgisi">
                                <option value="" disabled selected>Firma Bilgisi</option>
                                <option value="1">Şahıs</option>
                                <option value="2">Anonim</option>
                                <option value="3">Limited</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kullanıcıyı Kaydet</button>
                </div>
            </div>
        </div>
    </div>
}






@foreach (var kullanici in Model)
{
    <div class="modal fade" id="confirmDeleteModal_@(@kullanici.KullaniciID)" tabindex="-1" aria-labelledby="confirmDeleteModalLabel_@(@kullanici.KullaniciID)" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel_@(@kullanici.KullaniciID)">Kullanıcıyı Sil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <div class="modal-body">
                    <p>@kullanici.Ad adlı kullanıcıyı silmek istediğinize emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <form action="@Url.Action("DeleteKullanici", "KullaniciTanimlama")" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("KullaniciID", kullanici.KullaniciID)
                        <button type="submit" class="btn btn-danger">Kullanıcıyı Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function confirmDelete(kullaniciID) {
        if (confirm("Kullanıcıyı silmek istediğinize emin misiniz?")) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "@Url.Action("DeleteKullanici", "KullaniciTanimlama")");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "KullaniciID");
            hiddenField.setAttribute("value", kullaniciID);
            form.appendChild(hiddenField);

            var token = '@Html.AntiForgeryToken()';
            var tokenField = document.createElement("input");
            tokenField.setAttribute("type", "hidden");
            tokenField.setAttribute("name", "__RequestVerificationToken");
            tokenField.setAttribute("value", token);
            form.appendChild(tokenField);

            document.body.appendChild(form);
            form.submit();
        }
    }

    function openKullaniciEkleModal() {
        let kullaniciTuruRadioButtons = document.getElementsByName('kullaniciTur');
        let bireyselForm = document.getElementById('kullaniciEkleModal');
        let kurumsalForm = document.getElementById('kurumsalKullaniciEkleModal');
        let kullaniciTurModal = new bootstrap.Modal(document.getElementById('kullaniciTurModal'));

        for (let radioButton of kullaniciTuruRadioButtons) {
            if (radioButton.checked) {
                kullaniciTurModal.hide();
                kullaniciTurModal._element.addEventListener('hidden.bs.modal', function () {
                    if (radioButton.value === 'bireysel') {
                        let bireyselModal = new bootstrap.Modal(bireyselForm);
                        bireyselModal.show();
                    } else if (radioButton.value === 'kurumsal') {
                        let kurumsalModal = new bootstrap.Modal(kurumsalForm);
                        kurumsalModal.show();
                    }
                }, { once: true });
                break;
            }
        }
    }

    
</script>
