@model İkinciElAracİhale.UI.Models.Kullanici
@{
    ViewBag.Title = "Admin Paneli";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";

    var bireyselKurumsalList = new SelectList(new[]
    {
        new { Value = 1, Text = "Bireysel" }
    }, "Value", "Text", Model.BireyselKurumsalID);

    var aktifPasifList = new SelectList(new[]
    {
        new { Value = 1, Text = "Aktif" },
        new { Value = 2, Text = "Pasif" }
    }, "Value", "Text", Model.AktifPasifID);

    var rolList = new SelectList(new[]
    {
        new { Value = 1, Text = "Admin" },
        new { Value = 2, Text = "Kullanici" },
        new { Value = 3, Text = "PlusAdmin" }
    }, "Value", "Text", Model.RolID);

}

<div class="container mt-5">
    <h4>Bireysel Kullanıcı Düzenle</h4>
    @using (Html.BeginForm("KullaniciGuncelle", "KullaniciTanimlama", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.KullaniciID)
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="KurumsalBireysel">Kullanıcı Türü</label>
                @Html.DropDownListFor(model => model.BireyselKurumsalID, bireyselKurumsalList, new { @class = "form-control" })
            </div>
            <div class="col-md-4 form-group">
                <label for="AdSoyad">Ad Soyad</label>
                @Html.TextBoxFor(model => model.Ad, new { @class = "form-control" })
            </div>
            <div class="col-md-4 form-group">
                <label for="Eposta">E-posta</label>
                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="Durum">Durum</label>
                @Html.DropDownListFor(model => model.AktifPasifID, aktifPasifList, new { @class = "form-control" })
            </div>
            <div class="col-md-4 form-group">
                <label for="KullaniciAdi">Kullanıcı Adı</label>
                @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control" })
            </div>
            <div class="col-md-4 form-group">
                <label for="Telefon">Telefon</label>
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
            </div>



        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="Rol">Rol</label>
                @Html.DropDownListFor(model => model.RolID, rolList, new { @class = "form-control" })
            </div>
            <div class="col-md-4 form-group">
                <label for="Sifre">Şifre</label>
                @Html.PasswordFor(model => model.Sifre, new { @class = "form-control" })
            </div>


        </div>

        <div class="d-grid gap-2 mt-4 d-flex justify-content-end">
            <input type="submit" name="name" class="btn btn-success" value="Kullanıcıyı Güncelle" />
            <a href="@Url.Action("_KullaniciTanimlama")" class="btn btn-primary">Vazgeç</a>
        </div>
    }
</div>

